doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title TogetherJSSample
  body
    button(onclick="TogetherJS(this); return false;")
      | TogetherJSを起動！
  script(src='https://togetherjs.com/togetherjs-min.js')
